/*============= Variables =============*/
$global_background: #f8f8f8;
$light_green: #75b158;
$max-width: 10rem;

/*============= RESETS =============*/

html {
  padding: env(safe=area-inset);
  scroll-behavior: smooth;
  /* font-size: 10px; use percentage instead 10/16=.625
    1rem = 10px;*/
  // font-size: 62.5% !important;
  font-size: 625%;
  background-color: $global_background;
}

// @media  (min-width:360px) and (max-width:374px) {
//   html { font-size: 703%; }
// }
// @media  (min-width:375px) and (max-width:383px) {
//   html { font-size: 732.4%; }
// }
// @media  (min-width:384px) and (max-width:399px) {
//   html { font-size: 750%; }
// }
// @media  (min-width:400px) and (max-width:413px) {
//   html { font-size: 781.25%; }
// }
// @media  (min-width:414px) and (max-width:431px){
//   html { font-size: 808.6%; }
// }
// @media  (min-width:432px) and (max-width:479px){
//   html { font-size: 843.75%; }
// }

/*-- Prevent Horizontal Scrolling & Font Style --*/
html, body {
  font-family: 'Noto Serif SC', sans-serif, serif;
  box-sizing: border-box;
  // width:100%;
  // overflow-x:hidden;
  overflow-y:visible;
}

*, body, ul, li, h1, h2, h3, h4, h5, p,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 0.16rem;
}

a, a:hover, a:focus {
  text-decoration: none;
  color: inherit;
  font-size: 0.16rem;
}

ul {
  list-style: none;
}

li {
  float: left;
}

small {
  font-size: 0.14rem;
}
